.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 10px 15px;
    border :none;
    background-color: $white-color;

    &__icon-close_40 {
      fill: $primary-color;
    }

    &:hover &__icon-close_40,
    &:focus &__icon-close_40,
    &:active &__icon-close_40 {
      fill: $accent-color;
    }
}