body {
  background-color: $white-color;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}


.header-navigation,
.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.second-section,
.team-section,
.clients-section {
    padding: 60px 0;
}

.images-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  color: primary-color;
  text-align: center;
}

.footer-section {
  padding: 60px 0;
  background-color: $black-color;
  text-align: center;
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    color: $white-color;
    margin-bottom: 20px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-size: 0;
}