body {
  background-color: $white-color;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--footer-flex {
  @media screen and (min-width: 1200px){
    display: flex;
  }
}

.header-navigation,
.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.second-section,
.project-section {
    padding: 60px 0;
}

.clients-section {
  padding: 60px 0 33.5px;
}

.team-section {
  padding: 60px 0;
  background-color: $team-color;

  @media screen and (min-width: 768px) {
    padding: 60px 0 30px;
  }
}

.images-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.clients-section {
  padding: 60px 0 33.5px;
}

.list-secondary-buttons {
  @media screen and (max-width: 767px) {
  display: flex;
  flex-wrap: wrap;
  width: 362px;
  margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0 auto 15px;
  }
}

.secondary-button {
  margin: 0 8px 15px 0;
}

.footer-section {
  padding: 60px 0;
  background-color: $black-color;
  text-align: center;
}

.footer-form {
  margin: 0;
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

