body {
  background-color: $white-color;
  color: $primary-color;
  font-family: $primary-font;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--footer-flex {
  @media screen and (min-width: 1200px){
    display: flex;
  }
}

.header-navigation,
.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.second-section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0 47px;
  }
}
.project-section {
    padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients-section {
  padding: 60px 0 30px;
}

.team-section {
  padding: 60px 0 30px;
  background-color: $team-color;

  @media screen and (min-width: 768px) {
    padding: 60px 0 30px;
  }

  @media screen and (min-width: 1200px) {
    padding: 94px 0 64px;
  }
}
// team-section list-icons

.list-icons {
  @extend %flex;
  width: 206px;
  margin: 0 auto;

  @media screen and (max-width: 225px) {
    flex-direction: column;
  }
}

.images-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  padding: 47px 0 94px;
}

.clients-section {
  padding: 60px 0 30px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.list-secondary-buttons {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 480px) {
    width: 362px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    width: 611px;
    margin: 0 auto 15px;
  }
}

.secondary-button {
  @media screen and (min-width: 480px) {
  margin: 0 8px 15px 0;
  }
}

.footer-section {
  padding: 60px 0;
  background-color: $black-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-logo-wrapper {
  margin-bottom: 20px;
}

.footer-list-icons {
  @extend %flex;

  @media screen and (max-width: 225px) {
    flex-wrap: wrap;
  }
}

.footer-form {
  margin: 0;

  @media screen and (min-width: 1200px) {
    margin: 12px 0 0 auto;
  }
}

@media screen and (min-width: 1200) {
  .footer-form-field {
    display: flex;
  }
}


