.first-section {
   max-width: 1600px;
  padding: 118px 60px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__main-title {
    margin-bottom: 30px;
  }
}
