.footer-logo-address-icons-wrapper {
  @media screen and (min-width: 768px) {
  display: flex;
  }
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 70px 0 0;
  }

  &__footer-item:not(:last-child) {
  margin-bottom: 8px;
  }
}

.footer-wrapper__direction {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: $white-color;
}

  @media screen and (min-width:1200px) {
    
  .footer-wrapper__direction:hover,
  .footer-wrapper__direction:focus {
    color: $accent-color;
   }

  .footer-wrapper__direction {
   font-size: 14px;
   font-style: normal;
   height: 1.7;
   color: $white-color;

   transition: color 250ms $timing-function;
   }
}
  

.footer-wrapper__footer-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $link-color;

  @media screen and (min-width: 1200px) {

  transition: color 250ms $timing-function;

  .footer-wrapper__footer-link:hover,
  .footer-wrapper__footer-link:focus {
    color: $accent-color;
   }
  }
}


.footer-icons-wrapper {
  width: 206px;
  margin: 0 auto 60px;

  @media screen and (max-width: 225px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin: 5px 89px 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 12px 0 0;
  }
}

.footer-form-field {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}






