.header-contacts {
  margin-left: auto;    
   
  @media screen and (min-width:1200px) {
      display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list-item:not(:last-child) {
  margin-right: 30px;
  }
}

.header-contacts__link-contact {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  color: $onemore-color;
}

@media screen and (min-width: 1200px) {
.header-contacts__link-contact {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  line-height: 1.17;

  transition: fill 250ms $timing-function,
    color 250ms $timing-function;
  }
}

@media screen and (min-width: 1200px) {
.header-contacts__link-contact:hover,
.header-contacts__link-contact:focus {
   color: $accent-color;
  }
}

.header-contacts__header-icon {
  margin-right: 8px;
  fill: $onemore-color;
}

@media screen and (min-width: 1200px) {
  .header-contacts__header-icon {
  margin-right: 10px;

  transition: fill 250ms $timing-function;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link-contact:hover .header-contacts__header-icon,
  .header-contacts__link-contact:focus .header-contacts__header-icon {
  fill: $accent-color;
  }
}