.logo {
  @extend %blue-color;
  height: 28px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    height: 31px;
  }

  &--dark {
      color: $black-dark-color;
    }

  &--white{
      color: $white-color;
   }
}

.logo--with-margin-right {
  margin-right: 88px;

  @media screen and (min-width: 1200px) {
   margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--with-margin-right {
  margin-right: 93px;
  }
}
 
@media screen and (min-width: 768px) {
  .logo--with-margin-right {
    margin-right: 88px;
  }  
}

