.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $white-color;
    z-index: 4;

    transform: translateX(100%);
    transition: transform 250ms $timing-function;
}

.menu-container.is-open {
    transform: translateX(0);
}