.menu-button {
    border: none;
    background-color: $white-color;
    cursor: pointer;

    &__icon-menu_40 {
        fill: $black-dark-color;
    }

    &:hover &__icon-menu_40,
    &:focus &__icon-menu_40,
    &:active &__icon-menu_40 {
        fill: $accent-color;
    }
}