.mobile-menu {
    margin: 48px 40px 302px;

   &__list-item:not(:last-child) {
    margin-bottom: 32px;
   }
}


.mobile-menu__navigation {
  font-weight: 500;
  font-size: 40px;
  color: $primary-color;
}

.mobile-menu__current {
  color: $accent-color;
}