.mobile-menu {
  margin: 48px 40px 302px;

   &__list-item:not(:last-child) {
    margin-bottom: 32px;
   }

   &__navigation {
   font-weight: 500;
   font-size: 40px;
   color: $primary-color;
   } 

   &__current {
   color: $accent-color;
   }
}