.page-header {
  position: relative;
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }


  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    background-color: $line-color;
    width: 100%;
    height: 1px;
  }
}

.header-list {
  @media screen and (min-width: 768px) {
  display: flex;
  align-items: center;
  }
}

.logo {
  @extend %blue-color;
  height: 31px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;

  &--dark {
      color: $black-dark-color;
    }

  &--white{
      color: $white-color;
   }
}

.logo--with-margin-right {
  margin-right: 93px;
}
 
@media screen and (min-width: 768px) {
  .logo--with-margin-right {
    margin-right: 88px;
  }  
}





