// image title, team title, client title

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  color: primary-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
// Footer titles

.footer-title {
    font-weight: 700;
    font-size: 14px;
    color: $white-color;
    margin-bottom: 20px;
}
// Portfolio title

.hidden__title {
    @extend %is-hidden;
}